
/*Forms setup*/
.form-control {
    border-radius:0;
    box-shadow:none;
    height:auto;
}
.float-label{
    font-size:10px;
}

  html, body{
   height: 100%;
   margin:0;
} 

/*Content Container*/
.content-container {
    padding:35px 20px;
	padding-right:20px;
    margin-bottom:20px;
	  width:500px;
    height:500px;
    margin-left:0px;
	margin-right:100px;
    background-color:#FAEBD7;
    border: 10px;
    min-width: 100%;
    position: absolute;
    opacity: 0.97;
    background: transparent;
   
}
h1.content-title{
    font-size:32px;
    font-weight:300;
    text-align:left;
    margin-top:0;
    margin-bottom:20px;
	font-family: "Comic Sans MS";
}

/*mail list*/

ul.mail-list{
	
    padding:0;
    margin:10px;
    list-style:none;
    margin-top:100px;
	width:600px;
    height:500px;
    margin-left:0px;
    position:relative;
    background-color: #FAEBD7;
    border: 1px;
    min-width: 100%;
    opacity: 0.97;
    background: transparent;
	 border-radius:  40px 10px 40px 10px;
}
ul.mail-list li a{
    display:block;
    border-bottom:1px dotted #CFCFCF;
    padding:20px;
    text-decoration:none;
	background:	#800000;
}
ul.mail-list li:last-child a{
    border-bottom:none;
}
ul.mail-list li a:hover{
    background-color:#DBF9FF;
}
ul.mail-list li span{
    display:block;
}
ul.mail-list li span.mail-sender{
    font-weight:600;
    color:#8F8F8F;
}
ul.mail-list li span.mail-subject{
    color:#8C8C8C;
}
ul.mail-list li span.mail-message-preview{
    display:block;
    color:#A8A8A8;
}
.mail-search{
    border-bottom-color:#7FBCC9!important; 
}



.top-nav {

  overflow: hidden;
  background-color: #40464B;
  margin-top:0px;


}


html { 
  background: url("../images/hminion.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.top-nav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Georgia";
  transition:  color 1s, background-color 1s;

}

.top-nav a:hover {
  
  color: #00B3FE;
}

.top-nav a:active {

    color: white;

}
.top-logo{
  background-image: url("../images/logo.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width:150px;
  height:60px;
  margin-left: 3%;
  float:left;
}


.wrapper{
     height:80% !important;
}

.bottom-second-bar {
  text-align: center;
    background-color:  #40464B;
    height: 50px;
    width:100%;
	position: absolute;
    z-index: 100;
    top: 100%;
    bottom: 0; 
	display:block;
    left: 0;
    width: 100%;
}

.bottom-label{
    margin-left:100px;
    color:white;
    font-size: 15px;
    font-family: "Georgia";
}






.bottom_column_label{
  height: 300px;
  color:white;
  font-size: 15px;
  font-family: "Georgia";
  margin-bottom:100px; 
  display:table-cell;
}

.dropbtn {
  
    padding: 10px 12px;
    padding: 10px 12px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    background: url("../images/FEZ-04-512.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;  
}

.settingsBut {
    float:right;
  
    margin-right: 200px;
    margin-left: 10px;
}

.settings-content {
    display: none;
    position: absolute;
    width:150px;
    
    z-index: 1;
    background-color:#40464B;
   
}

.settings-content a {
    color:#E6E6E6;
   
    height: 10px;
    
    text-decoration: none;
    
    font-size: 15px;
    font-family: "Georgia";
    background-color:#40464B;
    width:150px;
}

.settings-content a:hover{
    color:#40464B;
    background-color: #E6E6E6;
    
    width:150px;
}


.settingsBut:hover .settings-content {
    display: block;
    color: #E6E6E6;
  
    
}





.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;


height: 600px;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: "Georgia";
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 90%;
  overflow: auto;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
textarea{

    resize: none;
	border-radius: 10px;
	font-family: "Georgia";
    width: 100%;
    font-size: 20px; 
	height:50px;
   
  
 }

 .question{
 
     margin-left:50px;
     margin-top:80px;
     width:500px;
     height: 100px;
     float: left;
 }

.answer{
	
 	 margin-left:50px;
     margin-top:50px;
     width:300px;
     float: left;
	 position:relative;
	 height:10px;
}

.save{
	
    margin-top: 268px;
    width: 70px;
    height: 60px;
    background-color: green;
    border-radius:  40px 10px 40px 10px;
    margin-left: 908px;
}

.saves{
	width: 100%;
    height: 100%;
     border-radius:  40px 10px 40px 10px;
}

.formular{
	 width:75%;
     height:300px;
  float: left;
   border-radius:  40px 10px 40px 10px;
   margin-bottom: 30px;
   background: 	#800000; 
margin-top:10px;
    margin-left:245px;
	opacity: 0.97;

}

.formular1{

 width:75%;
     height:300px;
  float: left;
   border-radius:  40px 10px 40px 10px;
   margin-bottom: 30px;
   background: 	#800000; 
   margin-left:245px;
	opacity: 0.97;
 display:none;

}
.t1 {
        color: white; 
        text-shadow: black 0.1em 0.1em 0.2em;
		float: left;
		margin-left:0px;
		margin-top:20px;
		font-size: 24px;
		position:fixed;
    }

.t2 {
        color: white; 
        text-shadow: black 0.1em 0.1em 0.2em;
		float: left;
		margin-left:130px;
		margin-top:20px;
		font-size: 30px;
		position:relative;
    }
.container{
overflow:show;
width:1300px;
height:500px;

}

.domain{
   font-family: "Georgia";
   float:left;
    height:300px;
   font-size: 10px;  
   width:245px;
   margin-right: 15px;
   margin-top:10px;
    border-radius:  5px 5px 50px 50px;
    color: #FFFFFF;
     background: 	#800000; 
	 opacity: 0.97;
}


.difficulty{
   font-family: "Georgia";
   float:left;
    height:350px;
   font-size: 10px;  
   width:245px;
   margin-right: 15px;
   margin-top:10px;
    border-radius:  5px 5px 50px 50px;
    color: #FFFFFF;
     background: 	#800000; 
	 opacity: 0.97;
}

 input[type='radio'] {
  -webkit-appearance:none;
  width:25px;
  height:25px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px grey inset;
  vertical-align: bottom;
  transition:box-shadow 1s;


}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px  white inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;  
  transition:background 1s;  
}

input[type='radio']:checked:before {
  background:gold;
}







.tbl{
  width: 70%;
  height: 50%;

}

