
html, body{
   height: 100%;
   margin:0;
}
html { 
  background: url("/tw/public/images/hminion.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper{
     height:80% !important;
}
.top-nav {

  overflow: hidden;
  background-color: #40464B;
  margin-top:0px;


}
.top-logo{
  background-image: url("/tw/public/images/logo.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width:150px;
  height:60px;
  margin-left: 3%;
  float:left;
   cursor:pointer;
}
.bottom-second-bar {
  text-align: center;
    background-color:  #40464B;
    height: 50px;
    width:100%;
	position: absolute;
    z-index: 100;
    top: 100%;
    bottom: 0; 
    left: 0;
    width: 100%;
}

.top-nav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Georgia";
  transition:  color 1s, background-color 1s;

}

.top-nav a:hover {
  
  color: #00B3FE;
}

.top-nav a:active {

    color: white;

}


.bottom-label{
    margin-left:100px;
    color:white;
    font-size: 15px;
    font-family: "Georgia";
}

.bottom-first-bar {
   
    background-color:  #384452;
    height: 300px;
    width:100%;
    position:relative;
    left: 0;
    bottom: 0; 
   
}

.first_bottom_column, .second_bottom_column, .third_bottom_column, .fourth_bottom_column{
  float:left;
  margin-left: 100px;
  overflow:hidden;
  
}

.first_bottom_column{

  width:300px;
  height:300px;
 
}
.second_bottom_column{
  
   width:120px;
}
.third_bottom_column{

} 
.fourth_bottom_column{

}

.bottom_column_label{
  height: 300px;
  color:white;
  font-size: 15px;
  font-family: "Georgia";
  margin-bottom:100px; 
  display:table-cell;
}

.dropbtn {
  
    padding: 10px 12px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    background: url("/tw/public/images/FEZ-04-512.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;  
}

.settingsBut {
    float:right;
  
    margin-right: 200px;
    margin-left: 10px;
}

.settings-content {
    display: none;
    position: absolute;
    width:150px;
    
    z-index: 1;
    background-color:#40464B;
   
}

.settings-content a {
    color:#E6E6E6;
   
    height: 10px;
    
    text-decoration: none;
    
    font-size: 15px;
    font-family: "Georgia";
    background-color:#40464B;
    width:150px;
}

.settings-content a:hover{
    color:#40464B;
    background-color: #E6E6E6;
    
    width:150px;
}


.settingsBut:hover .settings-content {
    display: block;
    color: #E6E6E6;
  
    
}



.wrapper{
     height:80% !important;
}

.t1 {
        color: white; 
        text-shadow: black 0.1em 0.1em 0.2em;
		float: left;
		margin-left:50px;
		margin-top:40px;
		font-size: 24px;
		position:fixed;
    }

	

.scores{
	    background-color:#800000; 
	 opacity: 0.97;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	cursor: pointer;
	margin-top:20px;
	margin-right: 20px;
	width:200px;
	height:100px;
}

.butoane{

  display: inline-block;
    width: 200px;
    height: 200px;
   margin-left:10px;
    float:left;
	margin-top:100px;
	margin-right: 15px;
	position:fixed;
 border-radius:  5px 5px 50px 50px;
    
}
.table-content{
	width:1000px;
height:500px;
margin-left:290px;
margin-top:150px;
	
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	opacity: 0.97;
	  background-color: #800000;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child {
    background-color: #800000;
}
.button {
    background-color:  #4d0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	position:center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.hrd{
  width: 100%;
  height: 32%;
  border-bottom: 2px solid peachpuff;

}

.mdm{
   width: 100%;
  height: 32%;
  border-bottom: 2px solid peachpuff;
}
.esy{
   width: 100%;
  height: 32%;
  border-bottom: 2px solid peachpuff;
}


.t {
  text-align: right;
  padding-right: 20px;
  line-height: 47px;
  color: white;
 

}
.name{
	
	 padding-right: 20px;
  line-height: 47px;
  color: white;
   font-size: 20px;
}


.firsthalf{
  width:1000px;
height:1000px;
margin-left:290px;
margin-top:50px;

}

.mhard {width: 20%; }


.ghard {width: 34%; }


.hhard {width: 16%; }

.bhard {width: 7%; }


.ehard {width: 23%; }


.h{background-color: red;border-radius: 40px 0px 0px 0px;}
.m{background-color: orangered;}
.e{background-color: orange;}