<div class="tabel" >
    <div class="img5" id="img5"></div>
    <div class="tabelos">
        <table id="table">

            <tr>
                <th>Username</th>
                <th>Scores</th>
                <th>Domain</th>
                <th>Difficulty</th>
                <th>Date</th>
            </tr>


            {rows}

        </table>
        <div id="pageNavPosition" class="pageNavPosition"></div>
        <script type="text/javascript"><!--
        var pager = new Pager('table', 10);
        pager.init();
        pager.showPageNav('pager', 'pageNavPosition');
        pager.showPage(1);
        //--></script>
    </div>
    <div class="img6" id="img6"></div>
</div>